.react-calendar {
  width: 100%;
  max-width: 100%;
  height: auto;
  background: #F5F5DC;
  font-family: 'arial', 'helvetica', sans-serif;
  line-height: 1.125em;
  border: 2px solid #99ab86 ;
  border-radius: 20px;
}

.react-calendar--doubleview {
  width: 700px;
}

.react-calendar--doubleview .react-calendar__viewcontainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleview .react-calendar__viewcontainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 60px;
}

.react-calendar__navigation button {
  background: none;
}
.react-calendar__navigation__prev-button {
  border-radius: 18px 0 0 0;
}
.react-calendar__navigation__next-button {
  border-radius: 0 18px 0 0;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #e4e4cc;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: capitalize;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
  background: #E4E4CC;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  border-bottom: none;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  border: 2px solid #99ab86 ;
  border-left: none;
  border-bottom: none;
}

.react-calendar__month-view__weekdays__weekday:nth-last-child(1) {
  border-right: none;
}

.react-calendar__month-view__weeknumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringmonth,
.react-calendar__decade-view__years__year--neighboringdecade,
.react-calendar__century-view__decades__decade--neighboringcentury {
  color: #F5F5DC;
}


.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
  border: none;
}

.react-calendar__tile {
  max-width: 100%;
  background: transparent;
  text-align: center;
  font: inherit;
  font-size: 0.833em;
  border: 2px solid #99ab86 ;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

/* remove right border for last column */
.react-calendar__month-view__days__day:nth-child(7n) {
  border-right: none;
}

/* remove left border for first column */
.react-calendar__month-view__days__day:nth-child(n) {
  border-left: none;
}

/* remove bottom border for last row (approx safe for 6 rows) */
.react-calendar__month-view__days__day:nth-last-child(-n + 7) {
  border-bottom: none;
}

.react-calendar__month-view__days__day--neighboringmonth:disabled,
.react-calendar__decade-view__years__year--neighboringdecade:disabled,
.react-calendar__century-view__decades__decade--neighboringcentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #a9d4ff;
}

.react-calendar__tile--now {
  background: #c3d4a8;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #c3d4a8;
}

.react-calendar__tile--hasactive {
  background: #76baff;
}

.react-calendar__tile--hasactive:enabled:hover,
.react-calendar__tile--hasactive:enabled:focus {
  background: #006edc;
}

/* Remove top border from all rows except first */
.react-calendar__month-view__days__day:nth-child(n + 8) {
  border-top: none;
}

/* bottom-left tile */
.react-calendar__month-view__days__day:nth-last-child(7) {
  border-bottom-left-radius: 18px;
}

/* bottom-right tile */
.react-calendar__month-view__days__day:nth-last-child(1) {
  border-bottom-right-radius: 18px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #d99b59;
}

.react-calendar--selectrange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
